<script type="text/javascript"> var $ = jQuery.noConflict(); $(document).ready(function() 
 { $('#myCarousel').carousel({ interval: 5000, cycle: true }); }); 
</script>


<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item mainpanel-nieve"></div>
    <div class="item mainpanel-playa"></div>
    <div class="item mainpanel-clase"></div>
  </div>
</div>

<!-- Roomy's main panel-->
<header>
	  <div class="container">
			<div class="row">
				<div class="span12">
					<div class="row">
						<div class="span3 logo">
							<img src="/assets/logo-big.png">
						</div>
						<div class="span9"></div>
					</div>
					<div class="row">
						<div class="span2"></div>
						<div class="span9 call-to-action">
							<div class="suscribe">
								<div class="suscribe-box">
									<div class="content">
										<h1>FIND YOUR IDEAL ROOMMATE.</h1>
										<p>With Roomy you can find friends in your network with similar interests on renting a room and have a new social experience.</p>
										<form accept-charset="UTF-8" action="/users" method="post">
											<div style="margin:0;padding:0;display:inline">
												<input name="utf8" type="hidden" value="✓">
												<input name="authenticity_token" type="hidden" value="Nx4tJmPQgVodvFySj58I//EBoW++3a/TKwn6n98bqXo=">
											</div>
											<input type="email" class="input-medium search-query txtCallToAction" id="post_email" name="post[email]" placeholder="your email" size="30">
											<input type="button" class="btn btn-danger btnCallToAction" name="commit" value="JOIN NOW">
										</form>
									</div>
								</div>
							</div>
							<div class="social">
								<div class="social-elements">
									<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findroomy.com', 'facebook-share-dialog', 'width=626,height=436'); return false;" class="social-facebook">F</a>
									<a href="javascript:(function(){window.twttr=window.twttr||{};var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;if(C>A){G=Math.round((C/2)-(A/2))}window.twttr.shareWin=window.open('http://twitter.com/share','','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');E=F.createElement('script');E.src='http://platform.twitter.com/bookmarklets/share.js?v=1';F.getElementsByTagName('head')[0].appendChild(E)}());" class="social-twitter">T</a>
								</div>	
							</div>
						</div>
						
						
					</div>	
				</div>
			</div>
		</div>
</header>
<div class="container">
	<!-- Roomy's benefits -->
	<div class="row benefits">
		<div class="span4">
			<div class="imagebox">
				<img src="/assets/benefit-connectivity.png">
			</div>
			<h3>CONNECTIVITY</h3>
			<p>Log in with Facebook. It's fast and easy. You know which of your friends are looking for roommates and in which specific areas they want to move.</p>
		</div>
		<div class="span4">
			<div class="imagebox">
				<img src="/assets/benefit-save-money.png">
			</div>
			<h3>SAVE MONEY</h3>
			<p>Forget about paying the rent and your own! Now you can share all expenses with your roommates and have a great time with them!</p>
		</div>
		<div class="span4">
			<div class="imagebox">
				<img src="/assets/benefit-lifestyle.png">
			</div>
			<h3>LIFESTYLE</h3>
			<p>You can see the lifestyle that people have and compare it with yours. You are only one step away to move and live the Roomy experience.</p>
		</div>
	</div>
		
	<!-- Roomy's steps -->
	<div class="row steps">
		<div class="span4">
			<div class="imagebox">
				<img src="/assets/steps-step1.png" class="steps-image">
			</div>
			<h3>JOIN</h3>
		</div>
		<div class="span4">
			<div class="imagebox">
				<img src="/assets/steps-step2.png" class="steps-image">
			</div>
			<h3>MAKE SOME BUDDIES</h3>
		</div>
		<div class="span4">
			<div class="imagebox">
				<img src="/assets/steps-step3.png" class="steps-image">
			</div>
			<h3>RENT</h3>
		</div>
	</div>
	
	<footer>
		<div class="row">
			<div class="span12">
				<p> © 2013 roomy </p>
				<ul>
					<li>
						| Contact us: 
						<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.findroomy.com', 'facebook-share-dialog', 'width=626,height=436'); return false;">
							<img src="/assets/footer-icon-facebook.png">
						</a>
						<a href="javascript:(function(){window.twttr=window.twttr||{};var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;if(C>A){G=Math.round((C/2)-(A/2))}window.twttr.shareWin=window.open('http://twitter.com/share','','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');E=F.createElement('script');E.src='http://platform.twitter.com/bookmarklets/share.js?v=1';F.getElementsByTagName('head')[0].appendChild(E)}());">
							<img src="/assets/footer-icon-twitter.png">
						</a>
					</li>
					<li>| <strong>Adress</strong>: <em>General Trinidad Moran 990, Lince, Lima, Peru</em></li>
					<li>| <strong>Telephone</strong>: <em>961-763-020</em></li>
				</ul>
			</div>
		</div>
	</footer>

	<!-- MODAL INVALID EMAIL-->
	<div id="modalInvalidEmail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Hey Roomy!</h3>
	  </div>
	  <div class="modal-body">
	    <p>Please enter a valid email to meet you :)</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>

	<!-- MODAL SUCCESS-->
	<div id="modalSuccess" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Hey Roomy!</h3>
	  </div>
	  <div class="modal-body">
	    <p class="">Congratulations!! You are now subscribed, we'll let you know when the awesomeness begins :)</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>

	<!-- MODAL ERROR-->
	<div id="modalError" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Hey Roomy!</h3>
	  </div>
	  <div class="modal-body">
	    <p class="">Woops!! That was unexpected, please wait while we try to patch things up</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Ok</button>
	  </div>
	</div>
</div>
