<!DOCTYPE html>
<html>
<head>
  <title>Roomy</title>
  <link href="/assets/bootstrap.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="/assets/bootstrap-responsive.css?body=1" media="all" rel="stylesheet" type="text/css">
  <style type="text/css">
      @font-face { font-family: CatalogoExtraGruesa; src: url('/assets/Catalogo ExtraGruesa.otf'); } 
@font-face { font-family: CatalogoFina; src: url('/assets/Catalogo Fina.otf'); } 
@font-face { font-family: CatalogoGruesa; src: url('/assets/Catalogo Gruesa.otf'); } 
@font-face { font-family: CatalogoSemiGruesa; src: url('/assets/Catalogo Semigruesa.otf'); } 
@font-face { font-family: Catalogo; src: url('/assets/Catalogo.otf'); } 

    </style>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
